{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Patients</h2>
    <a href="{% url 'create_patient' %}" class="btn btn-primary mb-3">Create New Patient</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Files</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.date_of_birth }}</td>
                    <td>{{ patient.get_gender_display }}</td>
                    <td>{{ patient.phone_number }}</td>
                    <td>
                        {% for file in patient.files.all %}
                            <a href="{{ file.uploaded_file.url }}">{{ file.uploaded_file.name }}</a><br>
                        {% endfor %}
                        <form action="{% url 'upload_file' patient.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="uploaded_file" required>
                            <button class="btn btn-sm btn-success mt-1" type="submit">Upload</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
